:root {
  --cor-0: #fff;
  --cor-1: #f5f5f5;
  --cor-2: #f0f0f0;
  --cor-3: #e0e0e0;
  --cor-4: #ccc;
  --cor-5: #b8b8b8;
  --cor-6: #a3a3a3;
  --cor-7: #8f8f8f;
  --cor-8: #7a7a7a;
  --cor-9: #666;
  --cor-10: #525252;
  --cor-11: #3d3d3d;
  --cor-12: #292929;
  --cor-13: #141414;
  --cor-14: #090909;
  --cor-15: #000;
  --gradiente: linear-gradient(#b629f8, #800add);
}
